
/second-assignment-cepepe/.codelite
/second-assignment-cepepe/.cache
second-assignment-cepepe/Makefile
second-assignment-cepepe/compile_commands.json
second-assignment-cepepe/second-assignment-cepepe/second-assignment-cepepe.mk
